/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}


html {
    box-sizing: border-box;
    background-color: var(--colorFondo);
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

html, body{
    size: 100%;
    padding: 0;
    margin: 0;
}

:root{
    --colorPrimario: #d11114;
    --colorSecundario: #f03a3c;
    --colorFondo: #222629;
    --colorTexto: white;
    --fuenteTitulos: 'Anton', sans-serif;
}

/** HEADER **/
.hero{
    background-image: url(../img/cover3.jpg);
    height: 100vh;
    background-position: top center;
    background-size: cover;
    
}

header .hero {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--colorPrimario);
    width: 100%;
}

.ordenar{
  display: inline-flex;
  width: 100%;
}

.redes-sociales{
  width: 50%;
}

.botones{
  width: 50%;
}

.redes-sociales a i {
    color: white;
    font-size: 2rem;
    color: var(--colorSecundario);
}

#Counter {  
    height: 25px;
    font-size:4 rem;
    font-weight: 100;
    color: var(--colorTexto);
    font-family: var(--fuenteTitulos);
    margin: 0;
    text-align: center;
    margin: 1rem 0;
  }
  
h1 {
    margin: 0;
    color: var(--colorSecundario);
    font-size: 5rem;
}

h2{
    color: var(--colorSecundario);
    text-align: center;
    font-family: var(--fuenteTitulos);
    font-weight: 200;
    font-size: 3rem;
}

footer{
    background-color: darkolivegreen ;
}

.cuerpo{
    background-color: red;

}

.cuenta-regresiva{
  padding: 1rem;
  background-color: #6B6E70;
  margin: 0;
}

.cuenta-regresiva h2{
  color: var(--colorPrimario);
  margin: 1rem;
  padding: 10px;
}

/**TESTIMONIALES**/
.testimoniales{
  display: block;
  color: white;

}

blockquote, cite{
  color: white;
}
/**FOOTER**/
footer{
  max-width: 1400px;
  background: rgb(129, 129, 129);
  margin: 0 auto;
  border-radius: 0 0 20px 20px;
  color:rgb(2, 2, 2);
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
  font-family: arial;
  font-size: 10px;
  margin-top: 20 px;
  margin-left: 20 px;
  margin-right: 20 px;
  margin-bottom: 20px;


}
#footer {
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  color: #333;
  font-size: 14px;
}

#footer .credits {
  font-size: 13px;
  color: #888;
}

#footer .footer-links a {
  color: #666;
  padding-left: 15px;
}

#footer .footer-links a:first-child {
  padding-left: 0;
}

#footer .footer-links a:hover {
  color: #1dc8cd;
}

