
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

html, body{
    size: 100%;
    padding: 0;
    margin: 0;
}

/** HEADER **/
.hero{
    background-image: url(../img/cover3.jpg);
    background-color: #5CDB95;
    height: 100vh;
    background-position: top center;
    background-size: cover;
    
}

header .hero {
    font-family: 'Roboto Condensed', sans-serif;
    color: #05386B;
}
#Counter {  
    width: 25%;
    height: 25px;
    background-color: #bbbdbb; 
    font-size:larger;
  }
  
h1 {
    margin: 0;
}

footer{
    background-color: darkolivegreen ;
}


<<<<<<< HEAD


=======
>>>>>>> d1e4646f88a29c2a3a9db6f7671703b275f57d1f
.cuerpo{
    background-color: red;

}


